@charset "UTF-8";
header {
  font-size: 13px;
  display: flex;
  padding: 25px 0;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header.open {
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: column-reverse;
    z-index: 10;
  }
}
#nav {
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  #nav {
    display: none;
    top: 45px;
    z-index: 10;
  }
}
#nav .nav-menu {
  display: flex;
  padding-left: 60px;
}
@media screen and (max-width: 768px) {
  #nav .nav-menu {
    flex-direction: column;
    margin-top: 45px;
    padding-left: 0;
    text-align: center;
  }
}
#nav .nav-menu li {
  margin-inline: 12px;
}
@media screen and (max-width: 768px) {
  #nav .nav-menu li {
    margin-bottom: 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .open #nav {
    display: block;
  }
}
.title {
  display: none;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .title {
    display: block;
    z-index: 10;
  }
}

.mask {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #FAF7F4;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .open .mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
}
/* ハンバーガーメニューボタン */
.toggle_btn {
  display: none;
  width: 40px;
  height: 12px;
  /*基準*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  /* 0.5秒かけて変化させる */
  transition: all 0.5s;
  cursor: pointer;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .toggle_btn {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .open .toggle_btn {
    top: 15%;
    transform: translateY(0);
  }
}

/*ハンバーガーメニューの線の設定（メニューが閉じている時）*/
.toggle_btn span {
  /* spanはインライン要素のため */
  display: block;
  width: 100%;
  height: 1px;
  background-color: #0f0f0f;
  transition: all 0.5s;
  /*対象*/
  position: absolute;
}

/*1本目の線の位置を設定*/
.toggle_btn span:nth-child(1) {
  top: 0%;
}

/*2本目の線の位置を設定 */
.toggle_btn span:nth-child(2) {
  bottom: 0;
}

/* 1本目の線を-45度回転transformで線のど真ん中の点を中心に動く*/
.open .toggle_btn span:nth-child(1) {
  transform: translateY(-6px) rotate(-45deg);
  top: 50%;
}

/*2本目の線を（45度回転）透過*/
.open .toggle_btn span:nth-child(2) {
  transform: translateY(-6px) rotate(45deg);
  top: 50%;
}

footer {
  background-color: #FAF7F4;
}
footer p {
  padding-top: 19px;
  padding-bottom: 19px;
  margin-right: 30px;
  text-align: right;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  footer p {
    text-align: center;
    font-size: 10px;
    margin-right: 0;
    padding-top: 40px;
  }
}

.top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  display: none;
}

#link ul li .arrow {
  font-size: 17px;
  margin-top: 8px;
  margin-left: 15px;
  position: relative;
}
#link ul li .arrow::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  right: 5px;
  width: 9px;
  height: 1px;
  border-radius: 9999px;
  background-color: #0f0f0f;
  transform: rotate(45deg);
  transform-origin: calc(100% - 0.5px) 50%;
}
#link ul li .arrow::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 5px;
  width: 60px;
  height: 1px;
  background: #000;
}

.work-title {
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  .work-title {
    font-size: 45px;
    width: 100%;
    text-align: center;
  }
}

#link ul li h3 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 8px;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  #link ul li h3 {
    font-size: 17px;
  }
}

.recruit-items {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.recruit-items .bg-video {
  max-width: 500px;
  width: 100%;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .recruit-items .bg-video {
    max-width: 280px;
  }
}
.recruit-items li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  position: absolute;
  top: 20%;
  left: 25%;
}
@media screen and (max-width: 768px) {
  .recruit-items li img {
    max-width: 240px;
    width: 100%;
    top: 13%;
  }
}
.recruit-items .job-category {
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index: 10;
}
@media screen and (max-width: 440px) {
  .recruit-items .job-category {
    display: flex;
    justify-content: center;
    bottom: -90px;
    left: 0;
  }
}
.recruit-items .job-category li {
  margin-bottom: 10px;
}
@media screen and (max-width: 440px) {
  .recruit-items .job-category li {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.recruit-items .job-category li:last-of-type {
  margin-bottom: 16px;
}
@media screen and (max-width: 440px) {
  .recruit-items .job-category li:last-of-type {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.cat-arrow {
  position: relative;
  left: 50%;
  display: inline-block;
  width: 1px;
  height: 28px;
  border-radius: 9999px;
  background-color: #0f0f0f;
}
.cat-arrow::before, .cat-arrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 0.5px);
  width: 1px;
  height: 6px;
  border-radius: 9999px;
  background-color: #0f0f0f;
  transform-origin: 50% calc(100% - 0.5px);
}
.cat-arrow::before {
  transform: rotate(45deg);
}
.cat-arrow::after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 440px) {
  .cat-arrow {
    display: none;
  }
}

.recruit-title {
  color: #0f0f0f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 80px;
}
@media screen and (max-width: 768px) {
  .recruit-title {
    width: 100%;
    font-size: 45px;
    text-align: center;
    transform: translate(-50%);
  }
}

#category-a, #category-b, #category-c {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(250, 247, 244) 50%);
}
#category-a .wrapper, #category-b .wrapper, #category-c .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 30px;
}
@media screen and (max-width: 768px) {
  #category-a .wrapper, #category-b .wrapper, #category-c .wrapper {
    flex-direction: column;
    padding: 20px 55px 60px 55px;
  }
}
@media screen and (max-width: 440px) {
  #category-a .wrapper, #category-b .wrapper, #category-c .wrapper {
    padding: 40px 6% 60px 6%;
  }
}
#category-a .wrapper img, #category-b .wrapper img, #category-c .wrapper img {
  max-width: 382px;
  width: 100%;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 32px;
}
@media screen and (max-width: 768px) {
  #category-a .wrapper img, #category-b .wrapper img, #category-c .wrapper img {
    margin-right: 0;
    max-width: 330px;
  }
}
@media screen and (max-width: 440px) {
  #category-a .wrapper .inner, #category-b .wrapper .inner, #category-c .wrapper .inner {
    max-width: 330px;
  }
}
#category-a .wrapper .inner .cat-font, #category-b .wrapper .inner .cat-font, #category-c .wrapper .inner .cat-font {
  font-family: "Poppins", sans-serif; /* Poppinsを特定の要素に適用 */
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #category-a .wrapper .inner .cat-font, #category-b .wrapper .inner .cat-font, #category-c .wrapper .inner .cat-font {
    font-size: 28px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
#category-a .wrapper .inner .cat-items, #category-b .wrapper .inner .cat-items, #category-c .wrapper .inner .cat-items {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  max-width: 395px;
}
#category-a .wrapper .inner .cat-items dt, #category-b .wrapper .inner .cat-items dt, #category-c .wrapper .inner .cat-items dt {
  width: 20%;
}
@media screen and (max-width: 440px) {
  #category-a .wrapper .inner .cat-items dt, #category-b .wrapper .inner .cat-items dt, #category-c .wrapper .inner .cat-items dt {
    width: 30%;
  }
}
#category-a .wrapper .inner .cat-items dd, #category-b .wrapper .inner .cat-items dd, #category-c .wrapper .inner .cat-items dd {
  width: 80%;
}
@media screen and (max-width: 440px) {
  #category-a .wrapper .inner .cat-items dd, #category-b .wrapper .inner .cat-items dd, #category-c .wrapper .inner .cat-items dd {
    width: 70%;
  }
}

#entry {
  background-color: #FAF7F4;
}
#entry h3 {
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  #entry h3 {
    font-size: 34px;
  }
}
#entry form {
  padding-bottom: 60px;
}
#entry form .contact-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 25px auto;
  padding: 0 30px;
  max-width: 560px;
}
#entry form .contact-list dt {
  width: 20%;
  background-color: #fff;
  margin-bottom: 16px;
}
#entry form .contact-list dt:last-of-type {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
#entry form .contact-list dt label {
  background-color: #fff;
  line-height: 1.5;
  display: block;
  height: 100%;
  padding: 10px 0px 10px 15px;
}
@media screen and (max-width: 440px) {
  #entry form .contact-list dt {
    width: 30%;
  }
}
#entry form .contact-list .textarea label {
  height: auto;
}
#entry form .contact-list dd {
  width: 80%;
  background-color: #fff;
  margin-bottom: 16px;
}
#entry form .contact-list dd:last-of-type {
  margin-bottom: 0;
}
#entry form .contact-list dd input {
  width: 100%;
  padding: 10px;
}
#entry form .contact-list dd textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
}
@media screen and (max-width: 440px) {
  #entry form .contact-list dd {
    width: 70%;
  }
}
#entry form .sub-mit {
  text-align: center;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  #entry form .sub-mit {
    font-size: 21px;
  }
}
#entry form .sub-mit .contact-btn {
  position: relative;
  color: #0f0f0f;
}
#entry form .sub-mit .contact-btn::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  width: 36px;
  height: 1px;
  border-radius: 9999px;
  background-color: #0f0f0f;
}
#entry form .sub-mit .contact-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 48px);
  width: 8px;
  height: 1px;
  border-radius: 9999px;
  background-color: #0f0f0f;
  transform: rotate(45deg);
  transform-origin: calc(100% - 0.5px) 50%;
}

.about-title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about-title {
    font-size: 45px;
    width: 100%;
  }
}
.about-title span {
  display: block;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #about {
    flex-direction: column;
  }
}
#about .about {
  margin-left: 7%;
}
@media screen and (max-width: 768px) {
  #about .about {
    order: 2;
    margin: 40px 38px 60px 38px;
  }
}
#about .about h2 {
  font-family: "Poppins", sans-serif; /* Poppinsを特定の要素に適用 */
  font-size: 28px;
  margin-bottom: 30px;
}
#about .about dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
#about .about dl dt {
  width: 20%;
  margin-bottom: 13px;
}
#about .about dl dt:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #about .about dl dt {
    width: 30%;
  }
}
#about .about dl dd {
  width: 80%;
  margin-bottom: 13px;
}
#about .about dl dd:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #about .about dl dd {
    width: 70%;
  }
}
#about .about-pic {
  display: flex;
  justify-content: flex-end;
  max-width: 610px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  #about .about-pic {
    order: 1;
    max-width: 100%;
  }
}
#about .about-pic .pic1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  max-width: 300px;
  height: 258px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #about .about-pic .pic1 {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    left: -80px;
    transform: translate(-55px, -50%);
  }
}
#about .about-pic .pic2 {
  max-width: 440px;
  height: auto;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 50%;
     object-position: 0 50%;
}
@media screen and (max-width: 768px) {
  #about .about-pic .pic2 {
    -o-object-position: 0 7%;
       object-position: 0 7%;
  }
}

#introduction-sub {
  margin: 100px 25%;
}
@media screen and (max-width: 768px) {
  #introduction-sub {
    margin: 20px 10%;
  }
}
#introduction-sub h2 {
  font-size: 28px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #introduction-sub h2 {
    font-size: 24px;
  }
}
#introduction-sub p {
  font-size: 13px;
  text-align: center;
  font-family: "Newsreader", "Noto Serif JP", serif; /* Newsreaderを全体に適用 */
}

.category-sub {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(250, 247, 244) 50%);
}
.category-sub .outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 20%;
}
@media screen and (max-width: 768px) {
  .category-sub .outer {
    flex-direction: column;
    padding: 10% 10%;
  }
}
.category-sub .outer img {
  max-width: 280px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .category-sub .outer img {
    max-width: 380px;
  }
}
.category-sub .outer p {
  font-size: 30px;
  font-family: "Newsreader", "Noto Serif JP", serif; /* Newsreaderを全体に適用 */
  margin-left: 55px;
}
@media screen and (max-width: 768px) {
  .category-sub .outer p {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 0;
  }
}

body {
  font-family: "Poppins", sans-serif; /* Poppinsを特定の要素に適用 */
  color: #0f0f0f;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

h2 {
  font-family: "Newsreader", "Noto Serif JP", serif; /* Newsreaderを全体に適用 */
}

#introduction p {
  font-family: "Newsreader", "Noto Serif JP", serif; /* Newsreaderを全体に適用 */
}

.mainvisual {
  position: relative;
}

.slide-items {
  height: 100vh;
  position: relative;
}
.slide-items li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  animation: fade 12s ease infinite;
  /*1枚目の画像のアニメーション実行タイミングを設定
  「animation-delay: 0s;」ですぐに実行*/
  /*2枚目の画像のアニメーション実行タイミングを設定
  「animation-delay: 5s;」で5秒後に実行*/
  /*3枚目の画像のアニメーション実行タイミングを設定
  「animation-delay: 10s;」で10秒後に実行*/
}
.slide-items li:nth-child(1) {
  animation-delay: 0s;
}
.slide-items li:nth-child(2) {
  animation-delay: 4s;
}
.slide-items li:nth-child(3) {
  animation-delay: 8s;
}
.slide-items li img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.pic {
  height: 100vh;
  position: relative;
}
.pic li img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#introduction {
  margin: 40px 350px;
}
@media screen and (max-width: 768px) {
  #introduction {
    margin: 90px 26px;
  }
}
#introduction h2 {
  font-size: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #introduction h2 {
    font-size: 26px;
  }
}
#introduction p {
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #introduction p {
    font-size: 12px;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

#link {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(250, 247, 244) 50%);
}
#link ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  #link ul {
    flex-direction: column;
  }
}
#link ul li {
  margin-inline: 12px;
  max-width: 280px;
}
@media screen and (max-width: 768px) {
  #link ul li {
    max-width: 700px;
    margin-inline: 45px;
  }
}
#link ul li img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #link ul li img {
    height: 320px;
  }
}

.margin {
  margin-top: 170px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .margin {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}/*# sourceMappingURL=style.css.map */